<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="mb-0 text-secondary">Form Kurir</h4>
        <a class="btn btn-primary" th:href="@{../}">Back</a>
    </div>
</div>

<!-- <span th:text="${error}"></span><br> -->

<form th:action="@{../addedit/}" method="post" th:object="${kurir}">
    <!-- Form Group untuk ID -->
    <div class="form-group">
        <input type="hidden" th:field="*{id}" class="form-control" placeholder="id">
    </div>
    
    <!-- Form Group untuk Nama -->
    <div class="form-group mb-3">
        <label for="nama">Nama</label>
        <input type="text" th:field="*{nama}" class="form-control" placeholder="Masukan nama">
        <span class="text-danger" th:text="${errornama}"></span>
    </div>
    
    <!-- Form Group untuk Nomor Telepon -->
    <div class="form-group mb-3">
        <label for="nomorTelepon">Nomor Telepon</label>
        <input type="tel" th:field="*{nomorTelepon}" class="form-control" placeholder="Masukan nomor telepon">
        <span class="text-danger" th:text="${errornomorTelepon}"></span>
    </div>
    
    <!-- Button untuk Save -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
